#
# This file is not parsed. If you want to apply options system-wide,
# copy it to /etc/imunes/config and modify it there.
# For per-user changes, copy it to $XDG_CONFIG_HOME/imunes/config or
# $HOME/imunes/config if $XDG_CONFIG_HOME is "" or not set.
#
# op_editor_only       - if true, Experiment -> Execute is disabled (default: "false")
# op_hidden_node_types - a list of node types to hide in the toolbar (default: "")
# op_recents_number    - max number of recently opened file names to keep (default: "10")
#
{
    "op_editor_only"       : "false",
    "op_hidden_node_types" : "",
    "op_recents_number"    : "10"
}
